@model WebApplication1.Models.Contract
<div id="wrapper">
    <h2>Приказ-накладная № @Model.ID</h2>

    <p>Продукт @Model.ProductName
    <p>Дата отгрузки: &nbsp;&nbsp;&nbsp;&nbsp; @Model.DateEndProduct</p>
    <p>Количество: @Model.Count</p>
    <p>Склад: &nbsp;&nbsp;&nbsp; @Model.Sclad</p>
    <p>Итого к оплате:&nbsp;&nbsp;&nbsp; @Model.Sum&nbsp;&nbsp;&nbsp;рублей</p>
    <p>Клиент @Model.ClientName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Подпись клиента_____________</p>
    <p>Менеджер  @Model.ManagerName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Подпись менеджер______________</p>
</div>
